@layer utilities {
    .wheel-rotate {
        animation: wheel-rotate 8s linear infinite;
    }
}

@keyframes wheel-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
